.pick {
  margin-bottom: 159px;
  padding: 91px 150px 50px 85px;
  width: 100%;
  background: #2C343E;
  color: #fff;
  border-radius: 10px;

  &__list {
    display: flex;
    column-gap: 40px;
    padding: 0;
    margin-bottom: 64px;
    list-style: none;
  }

  &__item {
    width: 287px;
  }

  &__text {
    color: #fff;
    width: 260px;
    margin: 38px 0 42px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
  }

  &__paragrft {
    width: 295px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  &__item-number {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
  }
}

label{
  transition: all 1s linear;
}

label:hover{
    transform: rotateX(180deg);

}

input:checked ~.deliver__item{
  display: none;
}



.deliveries {
  display: flex;
  justify-content: space-around;
}

.deliveris__list {
  padding: 0;
  list-style: none;
  width: 255px;
  text-align: center;
}

.deliveries__item {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 20px;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.deliveries__item {
  strong {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0E8784;
  }
}

.deliveries__item {
  p {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
  }
}

.deliver__product {

  input{
    display: none;
  }

  .deliver__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  .deliver__text {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
  }
}

.deliver__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
  padding: 0;
  width: 730px;
  list-style: none;
}

.deliver__item {
  padding: 32px 28px 84px;
  width: 228px;
  background: #fff;
  border-radius: 8px;
}

.deliver__item-text {
  width: 173px;
  margin: 0 0 24px;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
}

.deliver__paragrft {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.deliver__item--active {
  background: #0E8784;
}

.deliver__item-text--active {
  color: #fff;
}

.deliver__paragrft--active {
  color: #fff;
}

.deliver__list-bottom {
  margin-bottom: 40px;
  padding: 27px 84px;
  width: 730px;
  background: #2C343E;
  color: #fff;
}

.deliver__list-bottom {
  strong {
    margin: 0 0 10px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.deliver__list-bottom {
  p {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
  }
}

.product__link {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}