.hero {
  height: 600px;
  background-image: url(../imgs/Bitmap1.jpg);
  background-size: cover;
  margin-bottom: 136px;
  border-radius: 10px;

  &__description {
    padding: 86px;
  }

  &__text {
    width: 493px;
    font-family: "Fraunces 9px";
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
  }

  &__paragrft {
    width: 445px;
    font-family: "Barlow";
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    opacity: 0.8;
  }

  &__btn {
    width: 217px;
    height: 56px;
    background: #0e8784;
    border-radius: 6px;
    color: #fff;
    transition: all 0.5s linear;

    &:hover {
      background: #00a8ff;
      color: red;
    }
  }
}

.collection {
  position: relative;
  height: 450px;
  background-image: url(../imgs/bg-img.png);
  background-repeat: no-repeat;
  background-size: 1111px 196px;
  background-position: left 95px top -62px;
  margin-bottom: 200px;

  &__list {
    position: absolute;
    top: 50px;
    left: 7%;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 29px;
    list-style: none;
  }

  &__item {
    width: 255px;
  }

  &__deckription {
    margin-top: 61px;
  }

  &____text {
    font-family: "Fraunces 9pt";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
  }

  &__paragrft {
    margin: 0;
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
  }
}

.choose {
  position: relative;
  width: 100%;
  padding: 0 0 230px;
  background: #2c343e;
  border-radius: 10px;
  margin-bottom: 200px;

  &__description {
    margin: 0 auto;
    padding: 80px 0 50px;
    width: 540px;
    text-align: center;
  }

  &__text {
    text-align: center;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #fefcf7;
  }

  &__paragrft {
    margin: 0 auto;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    opacity: 0.8;
  }

  &__list {
    position: absolute;
    left: 80px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    text-align: center;
    list-style: none;
    margin-bottom: 250px;
    padding: 0;
  }

  &__item {
    display: inline-block;
    padding: 72px 48px 0px;
    width: 350px;
    background: #0e8784;
    border-radius: 8px;
  }

  &__item-text {
    margin: 56px 0 24px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #fefcf7;
  }

  &__item-paragrft {
    font-family: "Barlow";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
  }

  &__item-description {
    width: 256px;
  }
}

.main__dropmi-box {
  .dropmi__text {
    margin-bottom: 91px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
  }

  .dropmi {
    display: flex;
    align-items: center;
    margin-bottom: 67px;
    width: 790px;

    &__box:nth-child(2n+1) {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid blue;
    }

    &__box:nth-child(2n) {
      display: inline-block;
      width: 365px;
      height: 2px;
      background-color: rgb(244, 198, 50);
    }
  }
}

.product {
  &__list {
    display: flex;
    column-gap: 40px;
    padding: 0;
    margin-bottom: 64px;
    list-style: none;
  }

  &____item {
    width: 287px;
  }

  &__item-number {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fdd6ba;
  }

  &__text {
    margin: 38px 0 42px;
    width: 178px;
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333d4b;
  }

  &__list-paragrft {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
  }

  &__link {
    padding: 15px 31px;
    background: #0e8784;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s linear;

    &:hover {
      background: #66D2CF;
      color: red;
    }
  }
}

